# Postgre
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgre
spec:
  selector:
    matchLabels:
      app: postgre
  template:
    metadata:
      labels:
        app: postgre
    spec:
      containers:
        - name: postgre
          image: postgres:15.0
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_PASSWORD
              value: "pg123"
            - name: POSTGRES_USER
              value: "kubenew"
            - name: POSTGRES_DB
              value: "kubenew"
---
apiVersion: v1
kind: Service
metadata:
  name: postgre
spec:
  selector:
    app: postgre
  ports:
  - port: 5432
---
# Aplicação WEB
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubenew
spec:
  selector:
    matchLabels:
      app: kubenew
  template:
    metadata:
      labels:
        app: kubenew
    spec:
      containers:
        - name: kubenew
          image: dianini/kubnew:1
          ports: 
            - containerPort: 8080
          env:
            - name: DB_DATABASE
              value: "kubenew"
            - name: DB_USERNAME
              value: "kubenew"
            - name: DB_PASSWORD
              value: "pg123"
            - name: DB_HOST
              value: "postgre"
---
apiVersion: v1
kind: Service
metadata:
  name: kubenew
spec:
  selector:
    app: kubenew
  ports:
    - port: 80
      targetPort: 8080
  type: NodePort
